<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="QlHocPhiConnectionString" connectionString="Data Source=HAINAM;Initial Catalog=QLhocphi;Integrated Security=True" />
	</connectionStrings>
	
</configuration>